html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Raleway, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #28282a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p{
  color: #fff;
}

blockquote {
  position: fixed;
  padding-left: 30px;
  border-left: 2px solid #fff;
}

blockquote span {
  display: block;
  text-align: right;
  font-size: 24px;
  line-height: 40px;
  margin-top: 10px;
  text-transform: uppercase;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  blockquote {
    width: 90%;
    font-size: 22px;
    line-height: 34px;
    padding-left: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  blockquote {
    width: 90%;
    font-size: 22px;
    line-height: 34px;
    padding-left: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  blockquote {
    width: 80%;
    font-size: 22px;
    line-height: 34px;
    padding-left: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  blockquote {
    font-size: 22px;
    line-height: 34px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  blockquote {
    font-size: 34px;
    line-height: 50px;
    border-left: 2px solid #fff;
  }
}