.hide {
  display: none;
}

.navigationContent {
  margin-top: 10px;
  width:100%;
  max-width: 1200px;
  display: inherit;
  justify-content: flex-end;
}

.guildBannerContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 1200px;
}

.guildLogo{
  max-width: 1200px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movingFire {
  height: auto;
  position: fixed;
  bottom: -75px;
  z-index: 4;
}

.introduction {
  display: inherit;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  opacity: 0;
}

.comingSoon {
  font-size: 36px;
  position: relative;
  bottom: 100px;
  margin-right: 100px;
}

@media only screen and (max-width: 600px) {
  .guildBannerContainer{
    justify-content: center;
  }

  .navigationContent {
    margin-right: 10px;
  }

  .comingSoon {
    font-size: 24px;
    bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .guildBannerContainer{
    justify-content: center;
  }

  .movingFire {
    bottom: -120px;
  }

  .navigationContent {
    margin-right: 40px;
  }


  .comingSoon{
    font-size: 30px;
    bottom: 80px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width: 992px) {
  .navigationContent {
    margin-right: 10px;
  }

  .comingSoon{
    font-size: 40px;
    bottom: 60px;
    margin-right: 80px;
  }
}

@media only screen and (orientation: landscape) {
  .movingFire{
    display:none;
  }
}

.movingfire svg {
  width: 100%;
  height: auto;
  position: relative;
  right: 40px;
}
.flame {
  animation-name: flameDisappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flameMain {
  animation-name: flameMovement;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.flameMain.one {
  animation-duration: 2.2s;
  animation-delay: 1s;
}
.flameMain.two {
  animation-duration: 2s;
  animation-delay: 1s;
}
.flameMain.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flameMain.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flameMain.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}

@keyframes flameMovement {
  50% {
    transform: scale(0.98, 1) translate(0, 2px) rotate(-1deg);
  }
}
@keyframes flameDisappear {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}