.fadeInOut  {
  animation: fadeInOut ease-in 18s;
  -webkit-animation: fadeInOut ease-in 18s;
  -moz-animation: fadeInOut ease-in 18s;
  -o-animation: fadeInOut ease-in 18s;
  -ms-animation: fadeInOut ease-in 18s;
}

.fadeIn {
  animation: fadeIn ease-in 10s;
  -webkit-animation: fadeIn ease-in 10s;
  -moz-animation: fadeIn ease-in 10s;
  -o-animation: fadeIn ease-in 10s;
  -ms-animation: fadeIn ease-in 10s;
}

.fadeInLong {
  animation: fadeInLong ease-in 10s;
  -webkit-animation: fadeInLong ease-in 10s;
  -moz-animation: fadeInLong ease-in 10s;
  -o-animation: fadeInLong ease-in 10s;
  -ms-animation: fadeInLong ease-in 10s;
}

@keyframes fadeInOut {
  50% { opacity: 1; }
}


  @-moz-keyframes fadeInOut {
    50% { opacity: 1; }
  }
  
  @-o-keyframes fadeInOut {
    50% { opacity: 1; }
  }
  
  @-ms-keyframes fadeInOut {
    50% { opacity: 1; }
  }
  

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes fadeInLong {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeInLong {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeInLong {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeInLong {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeInLong {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
  }